html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*css reset ends */

@font-face {
  font-family: "Sdasian";
  src: url("Sdasian-WyDon.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Midorima";
  src: url("Midorima-PersonalUse-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  height: fit-content;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 8fr 8fr 1fr;
  grid-template-rows: 2fr 10fr 1fr;
  background-image: url("./images/cropped\ background\ test.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100vw;
  background-image: url("images/test background.png");
}
nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  z-index: 3;
  font-family: "Sdasian";
  font-size: 2em;

  color: white;
}
nav div h1:hover {
  cursor: pointer;
}

#nav-left {
  flex-wrap: wrap;
  height: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#nav-center {
  flex-wrap: wrap;
  height: auto;
  align-content: center;
}
#nav-icon-desktop {
  width: 50%;
  height: auto;
}
svg {
  height: auto;
  width: auto;
}

#nav-right {
  flex-wrap: wrap;
  display: flex;
  width: 20%;
  justify-content: center;
  align-content: center;
}
#nav-right-sub-layer-1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
#about-us-title {
  text-align: center;
  position: relative;
  top: 3vh;
  z-index: 100;
  grid-column: 2/4;
  grid-row: 2;
  font-size: 4em;
  letter-spacing: 0.5vw;
  color: white;
  font-family: "Sdasian";
  font-weight: 400;
}
#about-us-title:hover{
  cursor: default;
}
#ramen-img{
          grid-column: 2/3;
  grid-row: 2;
  align-self:center ;
  position: relative;
  top:5vh;
  height:65%;
}
#description{
  height:fit-content;
  align-self: center;
margin: auto;
    color: white;
    font-size: 2.1em;
    line-height: normal;
    padding:2rem;
    overflow: hidden;

}
#description-div{

            grid-column: 3/4;
  grid-row: 2;
    height:fit-content;
  align-self: center;
  justify-content: center;
margin: auto;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 2em;
   position: relative;
   top:5vh;
}
