html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*css reset ends */

@font-face {
  font-family: "Sdasian";
  src: url("Sdasian-WyDon.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  height: fit-content;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 10fr 1fr;
  background-image: url("./images/cropped\ background\ test.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100vw;
  background-image: url("images/test background.png");
}
nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  z-index: 3;
  font-family: "Sdasian";
  font-size: 2em;

  color: white;
}
nav div h1:hover {
  cursor: pointer;
}

#nav-left {
  flex-wrap: wrap;
  height: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#nav-center {
  flex-wrap: wrap;
  height: auto;
  align-content: center;
}
#nav-icon-desktop {
  width: 50%;
  height: auto;
}
svg {
  height: auto;
  width: auto;
}

#nav-right {
  flex-wrap: wrap;
  display: flex;
  width: 20%;
  justify-content: center;
  align-content: center;
}
#nav-right-sub-layer-1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#reservation-Title{
  grid-column: 1/4;
  text-align: center;
  font-family: "Sdasian";
color:white;
font-size: 3em;
position:relative ;
top:2vh
}
form{
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
    grid-column: 2/3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
  grid-template-rows: 2fr 3fr 3fr 3fr 3fr 2fr;
  border-radius: 3em;
  overflow:hidden ;
}
label{

    text-align: center;
  font-family: "Sdasian";
color:white;
font-size: 4em;
height:fit-content;
margin:auto;
}
#dateLabel{
        grid-column: 1/2;
  grid-row: 2;
}
#timeLabel{
        grid-column: 1/2;
  grid-row: 3;
}
#sizeLabel{
        grid-column: 1/2;
  grid-row: 4;
}
#emailLabel{
        grid-column: 1/2;
  grid-row: 5;
}
input{
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  font-size: 2.5em;
  width:70%;
  height:70%;
 margin: auto;
   border-radius: 1em;
}
#dateInput{
          grid-column: 2/4;
  grid-row: 2;
}
#timeInput{
          grid-column: 2/4;
  grid-row: 3;
}
select{
    background-color: rgba(0, 0, 0, 0.5);
  color:white;
  font-size: 2em;
  width:70%;
  height:70%;
 margin: auto;
   border-radius: 1em;
}
#sizeInput{
            grid-column: 2/4;
  grid-row: 4;
}
#eMail{
            grid-column: 2/4;
  grid-row: 5;
  font-size: 1.8em;
     border-radius: 2em;
}
#submitButton{
              grid-column: 2/4;
  grid-row: 6;
  width:40%;
  justify-self: center;
  font-size: 1.5em;
 height:fit-content;
 padding:0.5rem;
 background-color: rgba(0, 0, 0, 0.5);
 color:white;
 border-radius: 2em;
}

.popup-confirmation{
  height:20vh;
  width:30vw;
  background:url(popup_background.png);
  background-size: 200% 100%;
	animation: gradient 24s ease-in-out infinite;
  outline: 0.25rem solid white;
  border-radius: 2rem;
  position: fixed;
  right:2vw;
  bottom: 4vh;
  z-index: 3;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
display:none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.popup-confirmation p{
  color:white;
  font-size: 1.6em;
  text-align: center;
  padding:0.3rem;
  box-shadow: #fcfcfc 0.2vw 0.5vh 0.5em;
  background-color: rgba(0,0,0,0.6);
  border-radius: 1em;
  text-shadow: #000000 0.2vw 0.5vh 0.2em;
  font-family: "Sdasian";
}

.popup-confirmation div button{


  width:30%;
  height:100%;
  text-align: center;
  background: none;
  background:linear-gradient(120deg, white 40%,rgba(19, 19, 19, 0.536) 10%,white 50%);
  background-size: 200% 100%;
  background-position: right;
   font-family: "Sdasian";
  border-radius: 2em;
  font-size: 1.2em;
  box-shadow: #fcfcfc 0.2vw 0.5vh 0.5em;
  }
  .popup-confirmation div button:hover{
    animation: shine 0.2s linear forwards;
  
  }

  @keyframes shine {
    0%{

    }
    50%{
      transform: scale(1.3);
    }
    100%{
      background-position:300% 50%;
      transform: scale(1.15);
    }
  }
  .popup-confirmation div {
    width:100%;
    height:40%;
    text-align: center;
    margin-top:3vh;
    }
    